<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty </h1>
	<p>
		Splurty was built by <a target="_blank" href="http://google.com">Mugisha. </a> A web developer who is on a mission to build great web applications for companies. In his previous life, Mugisha worked for Microsoft as the Regional Business Development Manager for Operator Billing projects in MEA. He closed 10 deals in two and a half years. Before that, he was a program manager on the Windows Phone engineering team in Redmond.
	</p>
	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'mugisha.jpg', :class=> 'img-responsive' %>
	</div>

	<br class="clear" >
	<br />
	<br />
	<br />
	<br />



</div>